.card {
  border-radius: 20px;
  background: #fff;

  .card__inner {
    padding: 20px 20px 24px 20px;

    .inner__heading {
      display: flex;
      align-items: center;
      gap: 26px;

      .heading__image {
        .image__img {
          display: flex;
          border-radius: 50%;
        }
      }
      .heading__rating {
        .rating__title {
          .title__text {
            color: #707070;
            font-family: Hauora;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 16.8px */
            letter-spacing: 0.14px;
          }
        }
      }
    }
    .inner__name {
      margin-top: 20px;
      .name__text {
        color: #8d8be5;
        font-family: Hauora;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /* 26.4px */
        letter-spacing: 0.24px;
      }
    }
    .inner__description {
      margin-top: 14px;

      .description__text {
        color: #707070;
        font-family: Hauora;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 18.2px */
        letter-spacing: 0.13px;
      }
    }
    .inner__stats {
      margin-top: 18px;
      display: flex;
      align-items: center;
      gap: 23px;

      .stats__rating {
        .rating__number {
          .number__text {
            color: #000;
            font-family: Hauora;
            font-size: 21.67px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 28.171px */
          }
        }
        .rating__title {
          .title__text {
            color: #707070;
            font-family: Hauora;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 16.8px */
            letter-spacing: 0.14px;
          }
        }
      }
      .stats__reviews {
        .reviews__number {
          .number__text {
            color: #000;
            font-family: Hauora;
            font-size: 21.67px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 28.171px */
          }
        }
        .reviews__title {
          .title__text {
            color: #707070;
            font-family: Hauora;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 16.8px */
            letter-spacing: 0.14px;
          }
        }
      }
      .stats__likes {
        .likes__number {
          .number__text {
            color: #000;
            font-family: Hauora;
            font-size: 21.67px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 28.171px */
          }
        }
        .likes__title {
          .title__text {
            color: #707070;
            font-family: Hauora;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 16.8px */
            letter-spacing: 0.14px;
          }
        }
      }
    }
    .inner__footer {
      margin-top: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .footer__media {
        display: flex;
        align-items: center;
        gap: 5px;

        .media__image {
          display: flex;
        }
        .media__title {
          .title__text {
            color: #707070;
            font-family: Hauora;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 11px */
            letter-spacing: 0.11px;
          }
        }
      }
      .footer__button {
        max-width: 142px;
        width: 100%;
      }
    }
  }
}
