.main {
  position: relative;
  .main__calendar {
    background: #8d8be5;
    width: 450px;
    height: 500px;
    border-radius: 20px;
    position: relative;
    z-index: 10;
  }
  .main__sessions {
    position: absolute;
    border-radius: 20px;
    background: #fff;
    padding: 100px 24px 0px 26px;
    top: 400px;
    z-index: 0;

    .sessions__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 400px;

      .inner__left {
        .left__heading {
          .heading__caption {
            display: flex;
            align-items: center;
            gap: 8px;

            .caption__image {
              display: flex;
            }
            .caption__title {
              .title__text {
                color: #000;
                font-family: Hauora;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%; /* 20px */
                text-transform: uppercase;
              }
            }
          }
          .heading__description {
            margin-top: 8px;
            .description__text {
              color: #999;
              font-family: Hauora;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 100%; /* 14px */
            }
          }
        }
        .left__psycho {
          margin-top: 25px;

          .psycho__title {
            .title__text {
              color: #999;
              font-family: Hauora;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%; /* 14px */
            }
          }
          .psycho__name {
            .name__text {
              color: #8d8be5;
              font-family: Hauora;
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: 100%; /* 18px */
            }
          }
        }
        .left__date {
          margin-top: 14px;

          .date__title {
            .title__text {
              color: #999;
              font-family: Hauora;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%; /* 14px */
            }
          }
          .date__name {
            .name__text {
              color: #8d8be5;
              font-family: Hauora;
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: 100%; /* 18px */
            }
          }
        }
      }
      .inner__separator {
        background: rgba(0, 0, 0, 0.15);
        width: 1px;
        height: 210px;
      }
      .inner__right {
        .right__start {
          .start__title {
            .title__text {
              color: #999;
              font-family: Hauora;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%; /* 14px */
            }
          }
          .start__time {
            .time__text {
              color: #8d8be5;
              font-family: Hauora;
              font-size: 30px;
              font-style: normal;
              font-weight: 600;
              line-height: 100%; /* 30px */
              text-transform: uppercase;
            }
          }
        }
        .right__arrow {
        }
        .right__start {
          .start__title {
            .title__text {
              color: #999;
              font-family: Hauora;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%; /* 14px */
            }
          }
          .start__time {
            .time__text {
              color: #8d8be5;
              font-family: Hauora;
              font-size: 30px;
              font-style: normal;
              font-weight: 600;
              line-height: 100%; /* 30px */
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
