.requirement {
  display: flex;
  align-items: center;
  gap: 32px;

  .requirement__image {
    display: flex;
  }
  .requirement__title {
    .title__text {
      color: #000;
      font-family: Hauora;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 24px */
    }
  }
}
