.header {
  border-radius: 10px;
  background: #fff;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;

  .header__inner {
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .inner__logo {
      display: flex;
    }

    .inner__navigation_list {
      display: flex;
      align-items: center;
      gap: 20px;

      .navigation_list__item {
        display: flex;
        align-items: center;
        gap: 20px;

        .item__image {
          display: flex;
        }
      }
    }
    .inner__profile {
      display: flex;
      align-items: center;
      gap: 13px;

      .profile__title {
        .title__text {
          color: #000;
          text-align: right;
          font-family: Hauora;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

      .profile__avatar {
        border-radius: 50%;
        width: 34px;
        height: 34px;

        img {
        }
      }
    }
  }
}
