.chats {
  position: relative;

  .chats__top {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #8d8be5;
    position: relative;
    z-index: 0;

    .top__inner {
      padding: 34px 99px 133px 104px;

      .inner__title {
        text-align: center;

        .title__text {
          color: #fff;
          font-family: Hauora;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 110%; /* 22px */
          text-transform: uppercase;
        }
      }
      .inner__description {
        margin-top: 10px;
        text-align: center;

        .description__text {
          color: #fff;
          text-align: center;
          font-family: Hauora;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
        }
      }
    }
  }
  .chats__list {
    border-radius: 20px;
    background: #fff;
    z-index: 10;
    position: absolute;
    top: 133px;

    .list__profile {
      padding: 24px 11px 14px 20px;

      .profile__item {
        display: flex;
        align-items: center;
        gap: 16px;

        .item__avatar {
          width: 60px;
          height: 60px;

          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
        }
        .item__info {
          .info__name {
            .name__text {
              color: #000;
              font-family: Hauora;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
          .info__status {
            display: flex;
            align-items: center;
            gap: 7px;

            .status__image {
              display: flex;
            }
            .status__title {
              .title__text {
                color: #9697a7;

                font-family: Hauora;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
            }
          }
        }
      }
    }

    .list__latest_heading {
      display: flex;
      align-items: center;
      gap: 7px;
      margin-top: 15px;
      margin-bottom: 15px;

      .latest_heading__line {
        width: 385px;
        height: 1px;
        background: #999;
      }

      .latest_heading_line {
        .heading_line__text {
          color: #999;
          font-family: Hauora;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
    .list__latest {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 0px 20px 20px 20px;
    }
    .list__history {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 0px 20px 20px 20px;
    }
  }
}
