.stat {
  .stat__title {
    .title__text {
      color: #000;
      font-family: Hauora;
      font-size: 34px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 40.8px */
    }
  }
  .stat__description {
    margin-top: 6px;
    max-width: 130px;

    .description__text {
      color: #747474;
      font-family: Hauora;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 18px */
    }
  }
}
