.about_specialists {
  border-radius: 10px;
  background: #fff;
  width: 100%;

  .about_specialists__inner {
    padding: 22px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .inner__title {
      .title__text {
        color: #000;
        font-family: Hauora;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 35.2px */
        text-transform: uppercase;

        .text__custom {
          color: #8d8be5;
          font-family: Hauora;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 110%;
          text-transform: uppercase;

          svg {
            margin-bottom: 20px;
          }
        }
      }
    }
    .inner__button {
      max-width: 218px;
      width: 100%;
    }
  }
}
