.reviews {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  .reviews__inner {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .reviews__scroll_container {
    overflow: hidden;
    max-width: 1160px;
  }

  .reviews__left_arrow,
  .reviews__right_arrow {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 1);
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
